@mixin text($size, $margin, $float: null) {
  font-size: $size;
  margin: $margin;
  float: $float;
}

@mixin color($color, $size, $weight) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
}
