$primary-background-color: snow;
$secondary-background-color: #fff;
$tertiary-background-color: lightgray;
$font-stack: "Lato", sans-serif;
$color-prim: dimgray;

$brk-narrow: '(min-width: 768px)';
$brk-wide: '(min-width: 1028px)';
